@use '../global/variables' as *;
.admin-panel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .rs-container {
        height: 100vh;
    }
}

.admin-page {
    overflow-y: auto;
    max-height: 100vh;

    .rs-panel-body {
        padding: 10px;
    }
}

.admin-sidebar {
    display: flex;
    flex-direction: column;
    width: $AdminSidebarWidth !important;
    flex: 0 0 $AdminSidebarWidth !important;
    height: 100%;
    border-right: 1px solid $SeparatorColor;
    border-radius: 0 10px 10px 0;
    background-color: $AdminSidebarBackgroundColor;
}

.admin-bottom-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    height: 100%;
}

.admin-nav-button {
    background: $AdminNavBarMenuColor;
    color: $InkColor;
    font-size: $FontMedium;
}

.admin-copyright {
    margin: 0 auto;
    font-size: $FontTiny;
}

.admin-nav-menu {
    .rs-dropdown-toggle {
        background: $AdminNavBarMenuColor;
        margin-bottom: 5px;
        background: $AdminNavBarMenuColor !important;
    }
}

.admin-nav-item {
    display: flex;
    align-items: center;
    font-size: $FontMedium;

    img {
        margin-right: 15px;
    }
}

.admin-nav-item:hover {
    color: $AdminNavBarMenuHoverColor;

    .color-icon {
        .greyscale-image {
            display: none;
        }

        .color-image:not(.active) {
            display: block;
            opacity: 50%;
        }
    }
}

.admin-header {
    display: flex;
    align-items: center;

    .breadcrumbs {
        margin: 5px 0 0 20px;

        .crumb {
            margin: 0 5px;
        }

        .active-crumb,
        .separator {
            color: $AdminNavBarMenuHoverColor;
        }
    }
}
