@use '../global/variables' as *;
.action-button.blue {
    background: #83acef;
}

.action-button.red {
    background: #f7274b;
}

.action-button.green {
    background: #5bd95b;
}

.action-button.purple {
    background: #d970ff;
}
