.listing-header {
    padding: 20px 0 20px 20px;
    color: var(--rs-text-heading);
    border-bottom: 1px solid rgb(217, 217, 217);
}

.listing-row {
    padding: 20px 0 20px 20px;
    color: var(--rs-text-heading);
    box-shadow: none;
}

.collection-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pill {
    border-radius: 16px;
    text-align: center;
    width: 80%;
    font-size: $FontTiny;
}

.pill.light {
    color: black;
}

.pill.dark {
    color: white;
}
