.button-group {
    align-self: center;
    display: flex;
    justify-content: flex-end;
}

.form-control {
    display: flex;
}

.form-control-label {
    margin: auto;
    position: relative;
    flex-basis: 20%;
    text-align: right;
    padding-right: 45px;
}

.form-control-input {
    border-bottom: 1px solid #000000 !important;
    font-size: 18px;
}

.form-control-input.rs-slider {
    margin-top: 6px !important;
    width: 100%;
    border: none !important;

    .rs-slider-bar {
        height: 1px;
        background-color: black;

        .rs-slider-progress-bar {
            height: 3px;
            background-color: black;
        }
    }

    .rs-slider-handle {
        &::before {
            background: none;
            border: 1px solid black;
            border-radius: 0;
            rotate: 45deg;
            margin: -4px 0 0 -6px;
        }
    }
}

.image-button {
    position: relative;
    text-align: center;
    color: white;

    img {
        width: 100%;
        height: auto;
    }
}

.image-button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
