$BackgroundParchmentPaperImage: url(/assets/general/Parchment_Background.png) no-repeat center center fixed;

html {
    background: $BackgroundParchmentPaperImage;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    font-size: 24px;
    font-family: 'Livvic';
}
