@use 'global/variables' as *;
html {
    background: $BackgroundParchmentPaperImage;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    font-size: $FontSmall;
    font-family: 'Livvic';
}

.icon {
    img {
        height: 35px;
    }
}

.sort-icon {
    position: absolute;
    right: 0;
}

.hidden {
    display: none;
}
